<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Black Listed URLs</h5>
                  <span class="h2 font-weight-bold mb-0">350,897</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-link"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-calendar"></i> 1000</span>
                <span class="text-nowrap">Added this month</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Users</h5>
                  <span class="h2 font-weight-bold mb-0">2,356</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-danger mr-2"><i class="fas ffa-calendar"></i> 50</span>
                <span class="text-nowrap">Registered this month</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">URL Verification</h5>
                  <span class="h2 font-weight-bold mb-0">92014</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-search-plus"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-warning mr-2"><i class="fas fa-calendar"></i> 5000</span>
                <span class="text-nowrap"> Requests for this month</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Phishing URL</h5>
                  <span class="h2 font-weight-bold mb-0">8056454</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-link "></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fas fa-calendar"></i> 700</span>
                <span class="text-nowrap">Detected this month</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">

  <div class="row mt-5">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Registered users</h3>
            </div>
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-primary">See all</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Id Number</th>
                <th scope="col">Email</th>
                <th scope="col">Cell Number</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  Christoph
                </th>
                <td>
                  Sibiya
                </td>
                <td>
                  9604245265658
                </td>
                <td>
                 venussibiya@gmail.com
                </td>
                <td>
                  0729266076
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Lameck
                </th>
                <td>
                  Khoza
                </td>
                <td>
                  9504246265865
                </td>
                <td>
                 lameckkhoza@gmail.com
                </td>
                <td>
                  0856566562
                </td>
              </tr>

              <tr>
                <th scope="row">
                  Respect
                </th>
                <td>
                  Khosa
                </td>
                <td>
                  9304245265658
                </td>
                <td>
                 repectkhoza@gmail.com
                </td>
                <td>
                  0729266565
                </td>
              </tr>

              <tr>
                <th scope="row">
                  Christoph
                </th>
                <td>
                  Sibiya
                </td>
                <td>
                  9604245265658
                </td>
                <td>
                 venussibiya@gmail.com
                </td>
                <td>
                  0729266076
                </td>
              </tr>

              <tr>
                <th scope="row">
                  Dunisani
                </th>
                <td>
                  Hlonhwane
                </td>
                <td>
                  9604245265658
                </td>
                <td>
                 venussibiya@gmail.com
                </td>
                <td>
                  0729266076
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Black Listed Sites</h3>
            </div>
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-primary">See all</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Site Name</th>
                <th scope="col">URL</th>
                <th scope="col">Search Count</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  Billy Cavoodle Puppies Home
                </th>
                <td>
                  https://www.billycavoodlespuppies.com
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">60</span>
                  </div>
                </td>
              </tr>

              <tr>
                <th scope="row">
                  Bianca's Dream Home
                </th>
                <td>
                  https://www.biancasdreamhome.com
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">1000</span>
                  </div>
                </td>
              </tr>

              <tr>
                <th scope="row">
                  Billy Cavoodle Puppies Home
                </th>
                <td>
                  https://www.billycavoodlespuppies.com
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">60</span>
                  </div>
                </td>
              </tr>

              <tr>
                <th scope="row">
                  Daluja Terriers
                </th>
                <td>
                  https://www.dalubullterriers.com
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">60</span>
                  </div>
                </td>
              </tr>

              <tr>
                <th scope="row">
                  Orleans Trust Bank
                </th>
                <td>
                  https://www.trstorleansbk.com
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">60</span>
                  </div>
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
