<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 250px; background-image:
  url(assets/img/theme/profile-cover.jpg); background-size: cover;
  background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>

</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img src="assets/img/theme/profile-blue.png" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center
                mt-md-5">
                <div>
                  <span class="heading"></span>
                  <span class="description"></span>
                </div>
                <div>
                  <span class="heading">{{userDetails.requestCount}}</span>
                  <span class="description">URL Validation Request(s)</span>
                </div>
                <div>
                  <span class="heading"></span>
                  <span class="description"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h3>
              {{userDetails.name}} {{userDetails.surname}}<span class="font-weight-light"></span>
            </h3>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>ID Nuber:
              {{userDetails.idNumber}}
            </div>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>Contact: {{userDetails.email}}
              , {{userDetails.cellNumber}}
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>Role(s):
            </div>
            <div>
              <i class="ni education_hat mr-2"></i> {{userDetails.roles}}
            </div>
            <br />
            <hr class="my-4" />
            <p>We are committed to keeping your data safe.
              We respect your right to privacy and your right to make informed
              choices about
              how we collect, hold or use your personal data.

              We will make the general analysis available. We will not share
              your data
              on its own.</p>
            <hr class="my-4" />

          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">My account</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form #updateProfile="ngForm" (ngSubmit)="onUpdateProfile(updateProfile.value)">
            <h6 class="heading-small text-muted mb-4">Update User information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="name">Name</label>
                    <input required maxlength="50" minlength="2" id="name" ngModel name="name" #name="ngModel"
                      type="text" class="form-control form-control-alternative" placeholder="name"
                      [(ngModel)]="userDetails.name">
                  </div>

                  <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                    <div *ngIf="name.errors.required">
                      <p>Your name is required.</p>
                    </div>
                    <div *ngIf="name.errors.minlength">
                      <p>Name must be at least 2 characters long and cannot be more than 50 characters
                        long.</p>
                    </div>
                  </div>

                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="surname">Surname</label>
                    <input name="surname" required maxlength="50" minlength="2" id="surname" ngModel #surname="ngModel"
                      type="text" class="form-control form-control-alternative" [(ngModel)]="userDetails.surname">
                  </div>

                  <div *ngIf="surname.invalid && (surname.dirty || surname.touched)" class="alert alert-danger">
                    <div *ngIf="surname.errors.required">
                      <p> Your surname is required.</p>
                    </div>
                    <div *ngIf="surname.errors.minlength">
                      <p>Surname must be at least 2 characters long and cannot be more than 50
                        characters long.</p>
                    </div>
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="cellNumber">Cell Number</label>
                    <input name="cellNumber" required minlength="10" id="cellNumber" ngModel #cellNumber="ngModel"
                      type="text" class="form-control form-control-alternative" placeholder="Cell Number"
                      [(ngModel)]="userDetails.cellNumber">
                  </div>

                  <div *ngIf="cellNumber.invalid && (cellNumber.dirty || cellNumber.touched)"
                    class="alert alert-danger">
                    <div *ngIf="cellNumber.errors.required">
                      <p> Your cell number is required.</p>
                    </div>
                    <div *ngIf="cellNumber.errors.minlength">
                      <p>Cell number must be 10 characters long</p>
                    </div>
                  </div>

                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <input required maxlength="50" id="email" ngModel name="email" #email="ngModel" type="text"
                      class="form-control form-control-alternative" placeholder="Email" [(ngModel)]="userDetails.email">
                  </div>

                  <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                    <div *ngIf="email.errors.required">
                      <p>Your email address is required.</p>
                    </div>
                    <div *ngIf="email.errors.maxlength">
                      <p>The maximum lenght of email address is 50 characters</p>
                    </div>
                  </div>
                </div>

                <input type="number" name="id" [(ngModel)]="userDetails.id" hidden>

                <input type="text" name="idNumber" [(ngModel)]="userDetails.idNumber" hidden>

                <button [disabled]="name.invalid || surname.invalid || cellNumber.invalid || email.invalid"
                  type="submit" class="btn btn-primary my-4">Update</button>
              </div>
            </div>
            <hr class="my-4" />
          </form>


          <form #updatePassword="ngForm" (ngSubmit)="onUpdatePassword(updatePassword.value)">
            <h6 class="heading-small text-muted mb-4">Update Login Details</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="oldPassword">Old
                      Password</label>
                    <input required minlength="8" id="oldPassword" ngModel name="oldPassword" #oldPassword="ngModel"
                      type="password" class="form-control form-control-alternative" placeholder="Old Password" value="">
                  </div>

                  <div *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)"
                    class="alert alert-danger">
                    <div *ngIf="oldPassword.errors.required">
                      <p style="font-size: small;"> Old password is required.</p>
                    </div>
                    <div *ngIf="oldPassword.errors.minlength">
                      <p style="font-size: small;">Password must be 8 characters long.</p>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="newPassword">New Password</label>
                    <input required minlength="8" id="newPassword" ngModel name="newPassword" #newPassword="ngModel"
                      type="password" class="form-control form-control-alternative" placeholder="New Password" value="">
                  </div>

                  <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)"
                    class="alert alert-danger">
                    <div *ngIf="newPassword.errors.required">
                      <p style="font-size: small;"> New password is required.</p>
                    </div>
                    <div *ngIf="newPassword.errors.minlength">
                      <p style="font-size: small;">Password must be 8 characters long.</p>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">Confirm Password</label>
                    <input required minlength="8" id="confirmPassword" ngModel name="confirmPassword"
                      #confirmPassword="ngModel" type="password" class="form-control form-control-alternative"
                      placeholder="Confirm Password" value="">
                  </div>

                  <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
                    class="alert alert-danger">
                    <div *ngIf="confirmPassword.errors.required">
                      <p style="font-size: small;"> Confirm password is required.</p>
                    </div>
                    <div *ngIf="confirmPassword.errors.minlength">
                      <p style="font-size: small;">Password must be 8 characters long.</p>
                    </div>
                  </div>
                </div>

                <input type="number" name="userId" [(ngModel)]="userDetails.id" hidden>

             
              </div>

              <button [disabled]="oldPassword.invalid || newPassword.invalid || confirmPassword.invalid" type="submit"
              class="btn btn-primary my-4"> Update
            </button>
            </div>
            <hr class="my-4" />
          </form>

        </div>
      </div>
    </div>
  </div>
</div>